#myModal3 {
    display: none; /* none por padrão */
    position: fixed; /* fixa o modal na tela */
    z-index: 20; /* fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ 
    background-color: rgb(0,0,0); /* cor de fundo */
    background-color: rgba(0,0,0,0.4); /* preto com opacidade */
}

#modal-cadastroTrens{
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    height: 80%;
    width: 50%;/* pode ser mais ou menos de 70% 
    dependendo da tela */
}

.modalCadastroTrens{
    display: flex;
    margin: 6% auto;
    flex-direction: column;
    width: 70%;
    height: 100%;
}