html, body, form{
	/*zerando valores de todos elementos pais*/
	margin:0;
	padding:0;
	border: 0;

/*	cada um dos elementos vai ocupar a tela toda, assim eu posso manipular os elementos filhos do form do jeito que eu quiser, conseguindo
	saber onde começa e termina a viewport*/
	min-height: 100vh;
}

body form{
	display:flex;/*Aplicando flexbox no container, display do CSS 3 para eu poder mexer no layout do site com facilidade*/
	flex-direction: column;/*Todos os elementos filhos do form irão ficar um sobre o outro, igual a uma coluna*/
}

header{
	border-bottom:1px solid black;
	height: 70px;
	width: 100%;
}

#logomenu{
	height: 70px;
	width: 80px;
}

#dropbtn {
    background-color: #262626;
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 70px;
    width: 150px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float:right;
}

#dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {	
	background-color: #f1f1f1
}

main{
	border-top: 1px solid black;
	flex:1 250px;/*Esse código faz com que o elemento ocupe todo o restante da página, o que sobra vira o tamanho dele*/
	display: inherit;
	justify-content: center;
	align-items: center;
}

main #btn-conteiner{
	display: inherit;
	justify-content: space-around;
	width: 60%;
}

main #btn-conteiner button{
	font-size:20px;
	padding:20px 30px;
	background: white;
	cursor: pointer;
}

.header-site{
    height: 220px;
    width: 100%;
    background-image: url(../img/marginalpinheiros.jpg);
    background-position: center;
}

footer{
	border-top:1px solid black;	
	height: 90px;
	width: 100%;
	text-align: center;
	color: white;
	background-color: #262626;
}

footer p{
	margin: 8px 0;
}
/* modal fundo */
.modal {
    display: none; /* none por padrão */
    position: fixed; /* fixa o modal na tela */
    z-index: 20; /* fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ 
    background-color: rgb(0,0,0); /* cor de fundo */
    background-color: rgba(0,0,0,0.4); /* preto com opacidade */
}

.modal2 {
    display: none; /* none por padrão */
    position: fixed; /* fixa o modal na tela */
    z-index: 20; /* fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* cor de fundo */
    background-color: rgba(0,0,0,0.4); /* preto com opacidade */
}
/* Modal conteudo/Box */
.modal-content {
    background-color:aliceblue;
    margin: 6% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    height:70%;
    width: 70%; /* pode ser mais ou menos de 70% dependendo da tela */
}
.modal-cadastro{
    background-color:aliceblue;
    margin: 6% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    height:75%;
    width: 50%; /* pode ser mais ou menos de 70% dependendo da tela */
}

.modalCadastro {
    display: flex;
    margin: 6% auto;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.modalCadastro #corpo {
    display: inherit;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 30px;
    margin: 0 auto;
}

.modalCadastro #corpo 
#txtNome,
#txtLogin,
#txtSenha,
#txtConfirmarSenha
{
    margin-bottom: 15px;
    padding:5px 0;
    width: 400px;
}

.modalCadastro #corpo #dropDownList {
    width: 200px;
    padding: 5px 0;
}

.modalCadastro #btnConfirmar, #lblErro{
    margin: auto;
}

.modalCadastro #btnConfirmar {
    padding:10px 0;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* botao feichar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.feichar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.feichar:hover,
.feichar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}